.formGroup {
  display: flex;
  width: 100%;
}

.couponFormBtn:focus, .formInput:focus {
  outline: 0;
}

.formInput {
  width: 66.6%;
}
.formInput, .couponFormBtn {
  padding: 1em;
}

.couponFormBtn {
  width: 33.3%;
  background-color: #ec5252;
  color: #fff;
  border: 1px solid transparent;
}

.couponFormBtn:hover {
  background-color: #902c2c;
}

.couponFormBtn:active {
  background-color: #622323;
}

.couponMessage {
  width: 100%;
  text-align: center;
  padding-top: 3px;
  font-size: .85em;
  color: #0094aa;
}