.fixedBanner {
  width:100%;
  position: fixed;
  top: 0;
  opacity: 0.8;
  background-color: #29303b;
  color: #fff;
  z-index: 1;
}

.fixedContent {
  margin: 0 auto;
}

.fixedContentWrapper {
  width: 66.666667%;
}

@media only screen and (min-width: 360px) {
  .fixedContent {
      width: 340px;
  }
}

@media only screen and (min-width: 414px) {
  .fixedContent {
      width: 386px;
  }
}

@media only screen and (min-width: 768px) {
  .fixedContent {
      width: 730px;
  }
}

@media only screen and (min-width: 992px) {
  .fixedContent {
      width: 970px;
  } 
}

@media only screen and (min-width: 1200px) {
  .fixedContent {
      width: 1170px;
  }
}

.smallTitle {
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
}